<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Locations</a>
        </li>
        <li>
            <a ui-sref="city-list">{{header.name}}</a>
        </li>
    </ul>
</div>
<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{header.name}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <div class="widget-title">
                        <h3>City Restaurant</h3>
                    </div>
                    <form name="restaurantForm" role="form" class="sec ng-pristine ng-valid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <ui-select ng-model="formData.city" title="Select City" on-select="callSelect($select.selected)">
                                        <ui-select-match placeholder="Select City">{{variable}}</ui-select-match>
                                        <ui-select-choices refresh-delay="0" refresh="getCity($select.search)" repeat="city in cities | filter: $select.search">
                                            <div ng-bind-html="city.name | highlight: $select.search"></div>
                                            <small>
                                              Country : <span ng-bind-html="city.country.name | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group ui-select">
                                    <label>Name*</label>
                                    <input type="text" name="name" ng-model="formData.name" class="form-control" required>
                                    <div class="error-msg" ng-show="restaurantForm.name.$invalid && restaurantForm.name.$touched">Please Enter Must-Do Name</div>
                                </div>
                                <div class="form-group">
                                    <label>Link</label>
                                    <input type="text" name="link" ng-model="formData.link" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Budget</label>
                                    <input type="text" name="budget" ng-model="formData.budget" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Cuisine</label>
                                    <input type="text" name="cuisine" ng-model="formData.cuisine" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Category Type</label>
                                    <input type="text" name="category" ng-model="formData.category" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Star Rating</label>
                                    <input type="text" name="starRating" ng-model="formData.starRating" class="form-control" only-digits>
                                </div>
                                <div class="form-group">
                                    <label>User Rating</label>
                                    <input type="text" name="userRating" ng-model="formData.userRating" class="form-control" only-digits>
                                </div>
                                <div class="form-group">
                                    <label>Report Closed</label>
                                    <select name="report" ng-model="formData.status" ng-options="item.value as item.name for item in values" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt20 odd-even-button">
                            <button class="btn btn-default" type="submit" ng-click="saveRestaurant(formData)" ng-disabled="restaurantForm.$invalid">Save</button>
                            <button class="btn btn-default" ui-sref="cityRestaurant-list">Cancel</button>
                        </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
