<!-- <div id="progressBar">
    <div class="loader"></div>
</div> -->
<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>City Hotel List</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">
                    <div class="widget-title">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>List of City Hotels <span class="tableTotal">(Total : {{totalItems}}) </span></h4>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <ui-select ng-model="search.mycountry" title="Select City" on-select="callSelect($select.selected)">
                                        <ui-select-match placeholder="Select City">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices refresh-delay="0" refresh="getCity($select.search)" repeat="city in cities | filter: $select.search">
                                            <div ng-bind-html="city.name | highlight: $select.search"></div>
                                            <small>
                                              Country : <span ng-bind-html="city.country.name | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="pull-right">
                                    <form class="search-form mr-form">
                                        <input type="text" ng-change="showAllHotel(true)" placeholder="Search Here..." ng-model="search.keyword" />
                                    </form>
                                    <a class="btn btn-primary" ui-sref="createCityHotel">Add New</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" ng-show="totalItems>0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>Hotel Name</th>
                                    <th>City</th>
                                    <th>Country</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="hotel in hotels">
                                    <td>{{($index + 1)+((currentPage-1)*maxRow)}}</td>
                                    <td>{{hotel.name}}</td>
                                    <td>{{hotel.city.name}}</td>
                                    <td>{{hotel.city.country.name}}</td>
                                    <td>
                                        <a class="btn btn-primary" ui-sref="editCityHotel({id:hotel._id})">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-danger" ng-click="deleteCityHotel(hotel._id)">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive" ng-show="totalItems == 0">
                        <h5>No data found</h5>
                    </div>
                    <div class="table-responsive" ng-show="totalItems == undefined">
                        <h5>Loading Data</h5>
                    </div>
                    <ul ng-if="totalItems" ng-change="changePage(currentPage);" uib-pagination total-items="totalItems" items-per-page="maxRow" ng-model="currentPage" max-size="template.pageMax" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
