<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Locations</a>
        </li>
        <li>
            <a ui-sref="country-list">{{header.name}}</a>
        </li>
    </ul>
</div>
<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{header.name}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <div class="widget-title">
                        <h3>Country</h3>
                    </div>
                    <form name="countryform" role="form" class="sec ng-pristine ng-valid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Name*</label>
                                            <input type="text" name="name" ng-model="formData.name" class="form-control" required>
                                            <div class="error-msg" ng-show="countryform.name.$invalid && countryform.name.$touched">Please Enter Country</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Country Code*</label>
                                            <input type="text" name="countryCode" ng-model="formData.countryCode" class="form-control text-upper" maxlength="2" required>
                                            <div class="error-msg" ng-show="countryform.countryCode.$invalid && countryform.countryCode.$touched">Please Enter Country Code</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Currency*</label>
                                            <input type="text" name="Currency" ng-model="formData.currency" class="form-control" required>
                                            <div class="error-msg" ng-show="countryform.currency.$invalid && countryform.currency.$touched">Please Enter Currency</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea style="resize: none; min-height: 100px;;" name="Description" ng-model="formData.description" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Capital</label>
                                            <input type="text" ng-model="formData.capital" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Weather</label>
                                            <input type="text" ng-model="formData.weather" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Temperature</label>
                                            <input type="text" ng-model="formData.temperature" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Best Time</label>
                                            <input type="text" ng-model="formData.bestTime" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Upload Flag</label>
                                            <upload-image ng-model="formData.flag"></upload-image>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Upload Cover Photo</label>
                                            <upload-image ng-model="formData.countryCoverPhoto"></upload-image>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Upload Itinerary Banner</label>
                                            <upload-image ng-model="formData.countryItineraryBanner"></upload-image>
                                        </div>
                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-title countryRepeat">
                            <h3 style="margin:0">Must Dos</h3>
                        </div>
                        <div class="row" ng-repeat="mustDo in formData.mustDo" ng-if="formData.mustDo.length > 0">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="pull-right">
                                        <a class="btn btn-danger marginDelete" ng-click="deleteMustDo($index)" title="Delete Must Do">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Sequence No.</label>
                                            <input type="text" name="mustDo.sequence" ng-model="mustDo.sequenceNo" class="form-control" only-digits>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" name="mustDo.name" ng-model="mustDo.name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Image Credit</label>
                                            <input type="text" name="credit" ng-model="mustDo.imageCredit" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea style="resize: none; min-height: 100px;" name="Description" ng-model="mustDo.description" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Upload Main Photo</label>
                                            <upload-image ng-model="mustDo.mainPhoto"></upload-image>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                                <hr class="hrSingleWidth">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group text-center">
                                <button class="btn btn-primary" ng-click="addMustDo()">Add Must Do</button>
                            </div>
                        </div>
                        <div class="text-center mt20 odd-even-button">
                            <button class="btn btn-default" type="submit" ng-click="saveCountry(formData)" ng-disabled="countryform.$invalid">Save</button>
                            <button class="btn btn-default" ui-sref="country-list({page:search.page,keyword:search.keyword})">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
