<div class="account-user-sec">
    <div class="account-sec">
        <div class="account-top-bar">
            <div class="container">
                <div class="logo logo-header">
                    <a ui-sref="login" title="TraveLibro"><img src="img/logo.png" alt="TraveLibro" height="45"></a>
                </div>
            </div>
        </div>
        <div class="acount-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="contact-sec">
                            <div class="widget-title">
                                <h3>Admin Panel Login</h3>
                                <span>Fill your detail to get in</span>
                            </div>
                            <div class="account-form">
                                <form name="loginFrom" role="form" class="sec ng-pristine ng-valid" data-ng-submit="login()">
                                    <div class="row">
                                        <div class="feild col-md-12">
                                            <input type="text" name="email" placeholder="Email" ng-model="formData.email" required>
                                        </div>
                                        <div class="feild col-md-12">
                                            <input type="password" name="password" placeholder="Password" ng-model="formData.password" required>
                                        </div>
                                        <div class="feild col-md-12 text-center" ng-if="showErr">
                                            <span style="color:red;">Invalid Email Or Password.</span>
                                        </div>
                                    </div>
                                    <div class="feild col-md-12 text-center">
                                        <button class="login-w buttonCenter" type="submit" ng-disabled="loginForm.$invalid">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <p>&copy; {{template.year}} <a href="http://www.travelibro.com" target="_blank">TraveLibro</a>.</p>
            </div>
        </footer>
    </div>
</div>
